/* .main-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.tour-card {
    width: 250px;
    margin-bottom: 20px;
}

.tour-image {
    width: 100%; 
    border-radius: 8px;
}
 */
