.navbar-container {
  display: flex;
  align-items: center;
  background-color: #333;
}

.navbar-title {
  margin-right: auto;
  color: #fff;
}

nav {
  margin-left: auto;
}

nav a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}